<html>
    <head>
        <title>my django blog</title>
    </head>
    <body>
        <div>
            <h1>Hello Django</h1>
            <p>htello everyone, welcome to my blog. this blog was bulied by Django. Django is a cool freamwork!</p>
        </div>

        <div>
            <p>published: 08.02.2018, 12:14</p>
            <h2><a href=''>My first post</a></h2>
            <p>here I have to say something</p>
        </div>

        <div>
            <p>published: 10.02.2018, 15:21</p>
            <h2><a href=''>My second post</a></h2>
            <p>here I have to say something</p>
        </div>
    </body>
</html>
